.todo-template {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-template h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.todo-template .content {
  margin-top: 20px;
}